<%= erb :"_errors" %>
<div id="error_box"></div>
<p><a href="/surveys">Click here when done </a></p>
<p> OR </p>
<p>Add question to <%= @survey.title %> </p>
<form id = "new_question" method ="post" action = "/questions/<%=@survey.id%>">
  <input type = "text" name= "question" placeholder = "Question">
  <p><input type = "text" name= "choice1" placeholder = "choice 1"></p>
  <p><input type = "text" name= "choice2" placeholder = "choice 2"></p>
  <p><input type = "text" name= "choice3" placeholder = "choice 3"></p>
  <p><input type = "text" name= "choice4" placeholder = "choice 4"></p>
  <p><input type = "submit" value="Next">
</form>
