<%=@question.body%>
<form method = "post" action = "/responses/someotherstuff">
  <%@question.choices.each do |choice| %>

  <input type="radio" name="<%=choice.id%>"  checked> <%=choice.body%></p>
<%end%>