<%= erb :'_errors' %>
<form method="POST" action="/users/new">
  <label>Username</label>
  <input type="text" name="user[username]" placeholder="Username" value="<%= @user.username %>">
  <label>E-mail Address</label>
  <input type="text" name="user[email]" placeholder="E-mail" value="<%= @user.email %>">
  <label>Password</label>
  <input type="password" name="user[password]" placeholder="Password">
  <input type="submit" value="Log me in">
</form>
