<h1> Make a new Survey </h1>

<form id = "new_survey_title" method ="post" action = "/surveys">
  <input type = "text" name= "title" placeholder = "Title">
  <input type = "submit" value="Create title">
</form>