<h1><%=@survey.title%> results:</h1>

<p>Choose question: </p>
<p>
<%@survey.questions.each do |question| %>

  <form id= "graph" method= "post" action = "/surveys/graph/<%=question.id%>">

<%=question.body%>
<input type="submit" value = "Graph it">
</form>
</p>
<%end%>


<div class="container" style="width:100%; height:400px;"></div>